@model SignInViewModel
@{
    ViewData["Title"] = "SignIn";
}

@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<div class="row">
    <div class="col-md-5 offset-md-4 my-5">
        <h1>Kullanıcı Giriş Formu</h1>

        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
        </div>
        @* form asp-controller="Home" asp-action="SignIn" asp-route-returnUrl="@Context.Request.Query["returnUrl"]" by hali de çalışır sade hali de çalışır *@
        <form method="post">
            <div class="mb-3">
                <label for="Email" class="form-label" asp-for="Email"></label>
                <input value="ihsanemirkuzucu25@gmail.com" class="form-control" asp-for="Email">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="mb-3">
                <label for="Password" class="form-label" asp-for="Password"></label>
                <input value="142536a*" type="password" class="form-control" asp-for="Password">
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" asp-for="RememberMe">
                        <label class="form-check-label" for="RememberMe" asp-for="RememberMe"></label>
                    </div>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-outline-info btn-sm float-end" asp-controller="Home" asp-action="ResetPasword">Şifremi Unuttum</a>
                </div>
            </div>
        <div class="row text-center">
            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary btn-lg w-100">Üye Girişi</button>
            </div>
        </div>
        </form>
    </div>
</div>
